/* styles.css */

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222831;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #EEEEEE;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .Original-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border-style: dashed;
  }
  

  
  .submit-btn:hover {
    transform: scale(1.02);
    background-color: #222831;
    color: #EEEEEE;
    
  }
  
  .shortened-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .shortened-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .shortened-link a:hover {
    text-decoration: underline;
  }
  
  .shortened-link p {
    margin: 0;
    padding-right: 20px;
  }  
  .copy-success {
    margin-left: -5rem;
    color: #28a745;
    font-size: 14px;
  }
  .input-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .placeholder {
    font-size: 16px;
    color: #919191;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .custom-input {
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    max-width: 120px;
    background-color: #EEEEEE;
  }
  
  .custom-input::placeholder {
    color: #ccc;
  }
  .error-message{
    color: #ff4b4b;
  }
  
  