
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #222831;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .landing-title {
    font-size: 3em;
    margin-bottom: 0.2em;
    color: #EEEEEE;
  }
  
  .landing-subtitle {
    font-size: 1.2em;
    margin-bottom: 3em;
    color: #EEEEEE;
  }
button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #F9F7F7;
  cursor: pointer;
  transition: all .6s ease;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.02);
  background-color: #fff;
  color: rgb(65, 63, 63);
}
a{
  text-decoration: none;
}